{{> default/header}}

  <body>

    {{> default/navbar}}

    <!-- Page Content -->
    <div class="container">
      {{> default/messages}}
      {{{ body}}}
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    {{> default/footer}}