<div class="container">
    <h1>Edit Subject</h1>
    <div class="row p-4">
        <div class="col-md-10">
            <form action="/admin/subjects/edit/{{subject._id}}?newMethod=PUT" method="post">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" name="title" id="title" value="{{subject.title}}" required></input>
                </div>
                <div class="form-group">
                    <label for="level">Level</label>
                    <select name="level" id="level" class="form-control" required>
                        {{#select subject.level}}
                            {{#each levels}}
                                <option value="{{_id}}">{{title}}</option>
                            {{/each}}
                        {{/select}}
                    </select>
                </div>
                
                <button class="btn btn-outline-warning btn-lg" type="submit">Edit Subject</button>
            </form>
        </div>
    </div>
</div>