<div class="container">
    <h1>Create New Post</h1>
    <div class="row p-4">
        <div class="col-md-10">
            <form action="/admin/posts" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" name="title" id="title" required></input>
                </div>
                <div class="form-group">
                    <label for="position">Position (This reflects the order in which post will be displayed)</label>
                    <input type="number" class="form-control" name="position" id="position" required></input>
                </div>
                <div class="form-group">
                    <label for="status" required>Status</label>
                    <select name="status" id="status" class="form-control">
                        <option value="public">Public</option>
                        <option value="private">Private</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="chapter">Chapter</label>
                    <select name="chapter" id="chapter" class="form-control" required>
                        {{#each Chapters}}
                            <option value="{{_id}}">{{subject.level.title}} {{subject.title}}: {{title}}</option>
                        {{/each}}
                    </select>
                </div>
                
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea name="description" id="description" class="form-control" rows="10" required></textarea>
                </div>
                <button class="btn btn-outline-success btn-lg" type="submit">Create Post</button>
            </form>
        </div>
    </div>
</div>