<div class="container">
    <h1>Settings</h1>
    <br>

    <h2>Backup Files</h2>
    <p>Warning: Downloading large amounts of files may slow down server</p>
    <form action="settings/backup" method="post">
        <button class="btn btn-sm btn-warning" type="submit">Download Zip</button>
    </form>

</div>